### LSE Data Analytics Online Career Accelerator

# Course 2: Data Analytics using Python

## Assignment: Diagnostic Analysis using Python

You’ll be working with real-world data to address a problem faced by the National Health Service (NHS). The analysis will require you to utilise Python to explore the available data, create visualisations to identify trends, and extract meaningful insights to inform decision-making.

### A note for students using this template
This Jupyter Notebook is a template you can use to complete the Course 2 assignment: Diagnostic Analysis using Python. 

Keep in mind: 
- You are **not required** to use this template to complete the assignment. 
- If you decide to use this template for your assignment, make a copy of the notebook and save it using the assignment naming convention: **LastName_FirstName_DA201_Assignment_Notebook.ipynb**.
- The workflow suggested in this template follows the Assignment Activities throughout the course.
- Refer to the guidance on the Assignment Activity pages for specific details. 
- The markup and comments in this template identify the key elements you need to complete before submitting the assignment.
- Make this notebook your own by adding your process notes and rationale using markdown, add links, screenshots, or images to support your analysis, refine or clarify the comments, and change the workflow to suit your process.
- All elements should be functional and visible in your Notebook. 
- Be sure to push your notebook to GitHub after completing each Assignment Activity.

 > ***Markdown*** Remember to change cell types to `Markdown`. You can review [Markdown basics](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax) to find out how to add formatted text, links, and images to your notebook.

#

# Assignment activity 1

### Insert proof of your GitHub repository. This can be a link or screenshot showing your repo.

In [1]:
# My GitHub repository.

#

# Assignment activity 2

### Prepare your workstation

In [1]:
# Import the necessary libraries.
import pandas as pd
import numpy as np

# Optional - Ignore warnings.
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import and sense-check the actual_duration.csv data set as ad.
ad = pd.read_csv('actual_duration.csv')

# View the DataFrame.
print(ad.shape)
print(ad.columns)
print(ad.dtypes)
ad.head()

(137793, 8)
Index(['sub_icb_location_code', 'sub_icb_location_ons_code',
       'sub_icb_location_name', 'icb_ons_code', 'region_ons_code',
       'appointment_date', 'actual_duration', 'count_of_appointments'],
      dtype='object')
sub_icb_location_code        object
sub_icb_location_ons_code    object
sub_icb_location_name        object
icb_ons_code                 object
region_ons_code              object
appointment_date             object
actual_duration              object
count_of_appointments         int64
dtype: object

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
0,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,31-60 Minutes,364
1,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,21-30 Minutes,619
2,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,6-10 Minutes,1698
3,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,Unknown / Data Quality,1277
4,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,16-20 Minutes,730

In [3]:
# Determine whether there are missing values.
ad_na = ad[ad.isna().any(axis=1)]
ad_na.shape

(0, 8)

In [4]:
# Determine the descriptive statistics of the data set.
ad.describe()
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137793 entries, 0 to 137792
Data columns (total 8 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sub_icb_location_code      137793 non-null  object
 1   sub_icb_location_ons_code  137793 non-null  object
 2   sub_icb_location_name      137793 non-null  object
 3   icb_ons_code               137793 non-null  object
 4   region_ons_code            137793 non-null  object
 5   appointment_date           137793 non-null  object
 6   actual_duration            137793 non-null  object
 7   count_of_appointments      137793 non-null  int64
dtypes: int64(1), object(7)
memory usage: 8.4+ MB

In [5]:
# Import and sense-check the appointments_regional.csv data set as ar.
ar = pd.read_csv('appointments_regional.csv')

# View the DataFrame.
print(ar.shape)
print(ar.columns)
print(ar.dtypes)
ar.head()

(596821, 7)
Index(['icb_ons_code', 'appointment_month', 'appointment_status', 'hcp_type',
       'appointment_mode', 'time_between_book_and_appointment',
       'count_of_appointments'],
      dtype='object')
icb_ons_code                         object
appointment_month                    object
appointment_status                   object
hcp_type                             object
appointment_mode                     object
time_between_book_and_appointment    object
count_of_appointments                 int64
dtype: object

,icb_ons_code,appointment_month,appointment_status,hcp_type,appointment_mode,time_between_book_and_appointment,count_of_appointments
0,E54000034,2020-01,Attended,GP,Face-to-Face,1 Day,8107
1,E54000034,2020-01,Attended,GP,Face-to-Face,15 to 21 Days,6791
2,E54000034,2020-01,Attended,GP,Face-to-Face,2 to 7 Days,20686
3,E54000034,2020-01,Attended,GP,Face-to-Face,22 to 28 Days,4268
4,E54000034,2020-01,Attended,GP,Face-to-Face,8 to 14 Days,11971

In [6]:
# Determine whether there are missing values.
# Create a new DataFrame and use the isna() function to find missing values.
ar_na = ar[ar.isna().any(axis=1)]

# View the shape of the DataFrame.
ar_na.shape

(0, 7)

In [7]:
# Determine the descriptive statistics of the data set.
ar.describe()
ar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596821 entries, 0 to 596820
Data columns (total 7 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   icb_ons_code                       596821 non-null  object
 1   appointment_month                  596821 non-null  object
 2   appointment_status                 596821 non-null  object
 3   hcp_type                           596821 non-null  object
 4   appointment_mode                   596821 non-null  object
 5   time_between_book_and_appointment  596821 non-null  object
 6   count_of_appointments              596821 non-null  int64
dtypes: int64(1), object(6)
memory usage: 31.9+ MB

In [8]:
# Import and sense-check the national_categories.xlsx data set as nc.
nc = pd.read_excel('national_categories.xlsx')

# View the DataFrame.
print(nc.shape)
print(nc.columns)
print(nc.dtypes)
nc.head()

(817394, 8)
Index(['appointment_date', 'icb_ons_code', 'sub_icb_location_name',
       'service_setting', 'context_type', 'national_category',
       'count_of_appointments', 'appointment_month'],
      dtype='object')
appointment_date         datetime64[ns]
icb_ons_code                     object
sub_icb_location_name            object
service_setting                  object
context_type                     object
national_category                object
count_of_appointments             int64
appointment_month                object
dtype: object

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
0,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Primary Care Network,Care Related Encounter,Patient contact during Care Home Round,3,2021-08
1,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Other,Care Related Encounter,Planned Clinics,7,2021-08
2,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Home Visit,79,2021-08
3,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,General Consultation Acute,725,2021-08
4,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Structured Medication Review,2,2021-08

In [9]:
# Determine whether there are missing values.
# Create a new DataFrame and use the isna() function to find missing values.
nc_na = nc[nc.isna().any(axis=1)]

# View the shape of the DataFrame.
nc_na.shape

(0, 8)

In [10]:
# Determine the descriptive statistics of the data set.
nc.describe()
nc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 817394 entries, 0 to 817393
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   appointment_date       817394 non-null  datetime64[ns]
 1   icb_ons_code           817394 non-null  object
 2   sub_icb_location_name  817394 non-null  object
 3   service_setting        817394 non-null  object
 4   context_type           817394 non-null  object
 5   national_category      817394 non-null  object
 6   count_of_appointments  817394 non-null  int64
 7   appointment_month      817394 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 49.9+ MB

### Explore the data set

**Question 1:** How many locations are there in the data set?

In [11]:
# Determine the number of locations.
#Count unique values
print("Count of locations:", nc['sub_icb_location_name'].nunique())

Count of locations: 106

**Question 2:** What are the five locations with the highest number of records?

In [12]:
# Determine the top five locations based on record count.
print("Top 5 Locations with highest number of records:\
      \
      \
      \
      \
      ",
      nc['sub_icb_location_name'].value_counts().head())

Top 5 Locations with highest number of records:                               NHS North West London ICB - W2U3Z              13007
NHS Kent and Medway ICB - 91Q                  12637
NHS Devon ICB - 15N                            12526
NHS Hampshire and Isle Of Wight ICB - D9Y0V    12171
NHS North East London ICB - A3A8R              11837
Name: sub_icb_location_name, dtype: int64

**Question 3:** How many service settings, context types, national categories, and appointment statuses are there?

In [13]:
# Determine the number of service settings.
print("Count of service settings:", nc['service_setting'].nunique())

Count of service settings: 5

In [14]:
# Determine the number of context types.
print("Count of context types:", nc['context_type'].nunique())

Count of context types: 3

In [15]:
# Determine the number of national categories.
print("Count of national categories:", nc['national_category'].nunique())

Count of national categories: 18

In [16]:
# Determine the number of appointment status.
print("Count of appointment statuses :", ar['appointment_status'].nunique())

Count of appointment statuses : 3

#

# Assignment activity 3

### Continue to explore the data and search for answers to more specific questions posed by the NHS.

**Question 1:** Between what dates were appointments scheduled?

In [17]:
# View the first five rows of appointment_date for the ad DataFrame to determine the date format.
ad['appointment_date'].head()

0    01-Dec-21
1    01-Dec-21
2    01-Dec-21
3    01-Dec-21
4    01-Dec-21
Name: appointment_date, dtype: object

In [18]:
# View the first five rows of appointment_date for the nc DataFrame to determine the date format.
nc['appointment_date'].head()

0   2021-08-02
1   2021-08-02
2   2021-08-02
3   2021-08-02
4   2021-08-02
Name: appointment_date, dtype: datetime64[ns]

In [19]:
# Change the date format of ad['appointment_date'].
ad['appointment_date'] = pd.to_datetime(ad['appointment_date'])


# View the DateFrame.
print(ad['appointment_date'])

0        2021-12-01
1        2021-12-01
2        2021-12-01
3        2021-12-01
4        2021-12-01
            ...
137788   2022-06-30
137789   2022-06-30
137790   2022-06-30
137791   2022-06-30
137792   2022-06-30
Name: appointment_date, Length: 137793, dtype: datetime64[ns]

In [20]:
# Determine the minimum and maximum dates in the ad DataFrame.
# Use appropriate docstrings.
print("The minimum appointment date is:", min(ad['appointment_date']))
print("The maximum appointment date is:", max(ad['appointment_date']))

The minimum appointment date is: 2021-12-01 00:00:00
The maximum appointment date is: 2022-06-30 00:00:00

In [21]:
# Determine the minimum and maximum dates in the nc DataFrame.
# Use appropriate docstrings.
print("The minimum appointment date is:", min(nc['appointment_date']))
print("The maximum appointment date is:", max(nc['appointment_date']))

The minimum appointment date is: 2021-08-01 00:00:00
The maximum appointment date is: 2022-06-30 00:00:00

**Question 2:** Which service setting was the most popular for NHS North West London from 1 January to 1 June 2022?

In [22]:
# For each of these service settings, determine the number of records available for the period and the location.
#Create a new DataFrame for the specified period
start_date = '2022-01-01'
end_date = '2022-06-01'
period = (nc['appointment_date'] >= start_date) & (nc['appointment_date'] <= end_date)
nc_period = nc.loc[period]
print(nc_period)

       appointment_date icb_ons_code  \
3273         2022-01-03    E54000050
3274         2022-01-03    E54000050
3275         2022-01-04    E54000050
3276         2022-01-04    E54000050
3277         2022-01-04    E54000050
...                 ...          ...
816509       2022-06-01    E54000054
816510       2022-06-01    E54000054
816511       2022-06-01    E54000054
816512       2022-06-01    E54000054
816513       2022-06-01    E54000054

                             sub_icb_location_name            service_setting  \
3273    NHS North East and North Cumbria ICB - 00L           General Practice
3274    NHS North East and North Cumbria ICB - 00L           General Practice
3275    NHS North East and North Cumbria ICB - 00L                   Unmapped
3276    NHS North East and North Cumbria ICB - 00L       Primary Care Network
3277    NHS North East and North Cumbria ICB - 00L       Primary Care Network
...                                            ...                        ...
816509              NHS West Yorkshire ICB - X2C4Y           General Practice
816510              NHS West Yorkshire ICB - X2C4Y  Extended Access Provision
816511              NHS West Yorkshire ICB - X2C4Y           General Practice
816512              NHS West Yorkshire ICB - X2C4Y           General Practice
816513              NHS West Yorkshire ICB - X2C4Y           General Practice

                  context_type             national_category  \
3273    Care Related Encounter               Planned Clinics
3274    Care Related Encounter  General Consultation Routine
3275                  Unmapped                      Unmapped
3276    Care Related Encounter               Planned Clinics
3277    Care Related Encounter    Planned Clinical Procedure
...                        ...                           ...
816509  Care Related Encounter               Care Home Visit
816510  Care Related Encounter    General Consultation Acute
816511  Care Related Encounter  General Consultation Routine
816512  Care Related Encounter                    Home Visit
816513  Care Related Encounter    Planned Clinical Procedure

        count_of_appointments appointment_month
3273                       10           2022-01
3274                        1           2022-01
3275                      141           2022-01
3276                       75           2022-01
3277                       11           2022-01
...                       ...               ...
816509                      5           2022-06
816510                     43           2022-06
816511                   3205           2022-06
816512                     19           2022-06
816513                    350           2022-06

[377295 rows x 8 columns]

In [23]:
#Determine the type of service settings
nc['service_setting'].unique()

array(['Primary Care Network', 'Other', 'General Practice', 'Unmapped',
       'Extended Access Provision'], dtype=object)

In [24]:
#Create a series from the nc_period DataFrame showing only service_settings
ss_period = nc_period[['service_setting', 'count_of_appointments']]
ss_period

                  service_setting  count_of_appointments
3273             General Practice                     10
3274             General Practice                      1
3275                     Unmapped                    141
3276         Primary Care Network                     75
3277         Primary Care Network                     11
...                           ...                    ...
816509           General Practice                      5
816510  Extended Access Provision                     43
816511           General Practice                   3205
816512           General Practice                     19
816513           General Practice                    350

[377295 rows x 2 columns]

In [25]:
#Primary Care Network
PCN = ss_period[ss_period['service_setting']=='Primary Care Network']
print(PCN.head())
print(PCN.shape)
print("The number of appointments is:",
      PCN['count_of_appointments'].sum())

           service_setting  count_of_appointments
3276  Primary Care Network                     75
3277  Primary Care Network                     11
3278  Primary Care Network                     62
3279  Primary Care Network                    182
3280  Primary Care Network                      1
(87384, 2)
The number of appointments is: 3205369

In [26]:
#Other
Other = ss_period[ss_period['service_setting']=='Other']
print(Other.head())
print(Other.shape)
print("The number of appointments is:",
      Other['count_of_appointments'].sum())

     service_setting  count_of_appointments
3282           Other                     19
3284           Other                     91
3285           Other                      3
3288           Other                    101
3293           Other                     20
(62997, 2)
The number of appointments is: 2406074

In [27]:
#General Practice 
GP = ss_period[ss_period['service_setting']=='General Practice']
print(GP.head())
print(GP.shape)
print("The number of appointments is:",
      GP['count_of_appointments'].sum())

       service_setting  count_of_appointments
3273  General Practice                     10
3274  General Practice                      1
3286  General Practice                     31
3287  General Practice                    101
3289  General Practice                   2280
(164187, 2)
The number of appointments is: 122306148

In [28]:
#Unmapped
UM = ss_period[ss_period['service_setting']=='Unmapped']
print(UM.head())
print(UM.shape)
print("The number of appointments is:",
      UM['count_of_appointments'].sum())

     service_setting  count_of_appointments
3275        Unmapped                    141
3327        Unmapped                    208
3334        Unmapped                    163
3363        Unmapped                    181
3398        Unmapped                      1
(12146, 2)
The number of appointments is: 4211796

In [29]:
#Extended Access Provision
EAP = ss_period[ss_period['service_setting']=='Extended Access Provision']
print(EAP.head())
print(EAP.shape)
print("The number of appointments is:",
      EAP['count_of_appointments'].sum())

                service_setting  count_of_appointments
3301  Extended Access Provision                     21
3304  Extended Access Provision                     16
3323  Extended Access Provision                      9
3325  Extended Access Provision                      5
3359  Extended Access Provision                      8
(50581, 2)
The number of appointments is: 1036136

**Question 3:** Which month had the highest number of appointments?

In [44]:
# Number of appointments per month == sum of count_of_appointments by month.
# Use the groupby() and sort_values() functions.
arcount = ar.groupby(['appointment_month'])['count_of_appointments'].\
agg('sum').reset_index()
arcount

   appointment_month  count_of_appointments
0            2020-01               27199296
1            2020-02               24104621
2            2020-03               24053468
3            2020-04               16007881
4            2020-05               16417212
5            2020-06               20690805
6            2020-07               22491437
7            2020-08               20150520
8            2020-09               26714255
9            2020-10               28301932
10           2020-11               25061602
11           2020-12               23535936
12           2021-01               22492069
13           2021-02               22399569
14           2021-03               27225424
15           2021-04               23879932
16           2021-05               23508395
17           2021-06               26784182
18           2021-07               25739219
19           2021-08               23852171
20           2021-09               28522501
21           2021-10               30303834
22           2021-11               30405070
23           2021-12               25140776
24           2022-01               25635474
25           2022-02               25355260
26           2022-03               29595038
27           2022-04               23913060
28           2022-05               27495508
29           2022-06               25828078

In [54]:
#Determine month with highest number of appointments
print(arcount.loc[arcount['count_of_appointments'].idxmax()])
print("The month with the most number of appointments is: November 2021")

appointment_month         2021-11
count_of_appointments    30405070
Name: 22, dtype: object
The month with the most number of appointments is: November 2021

**Question 4:** What was the total number of records per month?

In [67]:
# Total number of records per month.
ar_rec = ar.groupby(['appointment_month'])
ar_rec

#

# Assignment activity 4

### Create visualisations and identify possible monthly and seasonal trends in the data.

In [ ]:
# Import the necessary libraries.
import seaborn as sns
import matplotlib.pyplot as plt

# Set figure size.
sns.set(rc={'figure.figsize':(15, 12)})

# Set the plot style as white.
sns.set_style('white')

### Objective 1
Create three visualisations indicating the number of appointments per month for service settings, context types, and national categories.

In [ ]:
# Change the data type of the appointment month to string to allow for easier plotting.

In [ ]:
# Aggregate on monthly level and determine the sum of records per month.


# View output.

**Service settings:**

In [ ]:
# Plot the appointments over the available date range, and review the service settings for months.
# Create a lineplot.

**Context types:**

In [ ]:
# Create a separate data set that can be used in future weeks. 


# View output.

In [ ]:
# Plot the appointments over the available date range, and review the context types for months.
# Create a lineplot.

**National categories:**

In [ ]:
# Create a separate data set that can be used in future weeks. 


# View output.

In [ ]:
# Plot the appointments over the available date range, and review the national categories for months.
# Create a lineplot.

### Objective 2
Create four visualisations indicating the number of appointments for service setting per season. The seasons are summer (August 2021), autumn (October 2021), winter (January 2022), and spring (April 2022).

**Summer (August 2021):**

In [ ]:
# Create a separate data set that can be used in future weeks. 


# View output.

In [ ]:
# Look at August 2021 in more detail to allow a closer look.
# Create a lineplot.

**Autumn (October 2021):**

In [ ]:
# Look at October 2021 in more detail to allow a closer look.
# Create a lineplot.

**Winter (January 2022):**

In [ ]:
# Look at January 2022 in more detail to allow a closer look.
# Create a lineplot.

**Spring (April 2022):**

In [ ]:
# Look at April 2022 in more detail to allow a closer look.
# Create a lineplot.

#

# Assignment activity 5

### Analyse tweets from Twitter with hashtags related to healthcare in the UK.

In [ ]:
# Libraries and settings needed for analysis
import pandas as pd
import seaborn as sns

# Set figure size.
sns.set(rc={'figure.figsize':(15, 12)})

# Set the plot style as white.
sns.set_style('white')

# Maximum column width to display
pd.options.display.max_colwidth = 200

In [ ]:
# Load the data set.


# View the DataFrame.

In [ ]:
# Explore the metadata.

In [ ]:
# Explore the data set.

In [ ]:
# Would it be useful to only look at retweeted and favourite tweet messages?
# Explain your answer.

In [ ]:
# Create a new DataFrame containing only the text.


# View the DataFrame.

In [ ]:
# Loop through the messages, and create a list of values containing the # symbol.

In [ ]:
# Display the first 30 records.

In [ ]:
# Convert the series to a DataFrame in preparation for visualisation.


# Rename the columns.

In [ ]:
# Fix the count datatype.


# View the result.

In [ ]:
# Display records where the count is larger than 10.

In [ ]:
# Create a Seaborn barplot indicating records with a count >10 records.

In [ ]:
# Create the plot.


# View the barplot.

#

# Assignment activity 6

### Investigate the main cencerns posed by the NHS.

In [ ]:
# Prepare your workstation.
# Load the appointments_regional.csv file.


# View the DataFrame.

In [ ]:
# Print the min and max dates.

In [ ]:
# Filter the data set to only look at data from 2021-08 onwards.

**Question 1:** Should the NHS start looking at increasing staff levels?

In [ ]:
# Create an aggregated data set to review the different features.


# View the DataFrame.

In [ ]:
# Determine the total number of appointments per month.


# Add a new column to indicate the average utilisation of services.
# Monthly aggregate / 30 to get to a daily value.


# View the DataFrame.

In [ ]:
# Plot sum of count of monthly visits.
# Convert the appointment_month to string data type for ease of visualisation.


# Create a lineplot with Seaborn.

In [ ]:
# Plot monthly capacity utilisation.


# Create a lineplot.

**Question 2:** How do the healthcare professional types differ over time?

In [ ]:
# Create a line plot to answer the question.

**Question 3:** Are there significant changes in whether or not visits are attended?

In [ ]:
# Create a line plot to answer the question.

**Question 4:** Are there changes in terms of appointment type and the busiest months?

In [ ]:
# Create a line plot to answer the question.

**Question 5:** Are there any trends in time between booking an appointment?

In [ ]:
# Create a line plot to answer the question.

**Question 6:** How do the spread of service settings compare?

In [ ]:
# Let's go back to the national category DataFrame you created in an earlier assignment activity.

In [ ]:
# Create a new DataFrame consisting of the month of appointment and the number of appointments.

# View the DataFrame.

In [1]:
# Create a boxplot to investigate spread of service settings.

In [ ]:
# Create a boxplot to investigate the service settings without GP.

#

### Provide a summary of your findings and recommendations based on the analysis.

> Double click to insert your summary